.welcome {
  background-image: url('/static/warsawexlogo_half.svg'),
    linear-gradient(#4f4092, #6e3e90ee, #813d8f00);
  background-position: right 15px, 0% 0%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 100px 30px;
  min-height: 700px;
  h1 {
    font-size: 30px;
    font-weight: lighter;
    color: #ffffff;
    margin: 40px 0;
    width: calc(100% - 100px);
  }
  .desktopButton {
    display: none;
  }
  > button,
  a:link {
    background-color: white;
    color: #132233;
    border: none;
    border-radius: 5px;
    width: 306px;
    height: 54px;
    font-size: 18px;
    font-weight: 700;
    margin: 50px 0;
    text-decoration: none;
  }
  button:hover {
    border: 1px solid #132233;
  }
  > button > a:visited {
    color: #132233;
  }
}

@media screen and (min-width: 800px) {
  .welcome {
    flex-wrap: wrap-reverse;
    background-image: url('/static/warsawex-symbol.svg'),
      linear-gradient(118deg, #4f4092, #813d8f);
    background-position-x: calc(100% - 30px), 0px;
    background-position-y: 70px, 5%;
    padding: 40px 40px;
    h1 {
      order: -1;
      font-size: 35px;
      max-width: 40%;
      margin: 50px 0;
    }
    .desktopButton,
    a:link {
      display: initial;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: nowrap;
      background-color: white;
      color: #132233;
      border: none;
      border-radius: 5px;
      width: 35%;
      height: 70px;
      font-size: 20px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 100px;
      text-decoration: none;
    }
    .desktopButton > a:visited {
      color: #132233;
    }
    .mobileButton {
      display: none;
    }
  }
}

@media screen and (min-width: 950px) {
  .welcome {
    .desktopButton {
      width: 30%;
    }
  }
}

@media screen and (min-width: 1100px) {
  .welcome {
    h1 {
      font-size: 37px;
    }
    .desktopButton {
      width: 25%;
      > a {
        font-size: 21px;
      }
    }
  }
}
